<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Efficient Algorithms for answering m-Closest Keywords Query</title>

		<meta name="description" content="A set of algorithms meant to answer m-closest keywords query">
		<meta name="author" content="Sagar DV">
		<meta name="author" content="Abhilash Reddy">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="lib/css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/reveal.css" />
		<link rel="stylesheet" href="css/theme/simple.css" />
		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css" />

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
			<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
		<!--[if lte IE 8]>
        <script src="excanvas.js"></script>
    <![endif]-->
	</head>

	<body>

		<div class="reveal">
			<div class="slides">
				<section>
					<h2>Efficient Algorithms for answering m-Closest Keywords Query</h2>
					<h4>by Tao Guo, Xin Cao, Gao Cong</h4>
					<small>Presented by Sagar V Dwibhashyam, Abhilash Reddy</small>
				</section>
				<section>
					<section>
						<h1>Introduction</h1>
					</section>
					<section>
						<ul>
							<li>GPS devices</li>
							<li class="fragment">Massive growth of geo-spatial data and textual data across like
								<ul>
									<li class="fragment">Points of Interests (hotels, restaurants, businesses, etc)</li>
									<li class="fragment">Photos with tags</li>
									<li class="fragment">Geo locations in social photo sharing websites</li>
									<li class="fragment">Check in information</li>
								</ul>
							</li>
							<li class="fragment">This above information generated has increased the prominence of spatial keyword queries.</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h1>Spatial keyword query</h1>
					</section>
					<section>
						<ul>
							<li>It gives the objects which matches the arguments mentioned in the query by using the location information and textual description of the objects existing in the database.</li>
							<li class="fragment">m-closest keywords query(mCK) is one of the type of spatial keyword query.</li>
							<li class="fragment">It is finding a set of closest keywords from the database.</li>
						</ul>
					</section>
					<section>
						<p>The Existing algorithms almost took 1 hour to answer query containing just 8 keywords in a database of 1 million objects.</p>
					</section>
				</section>
				<section>
					<section>
						<h1>M-Closest keywords query</h1>
					</section>
					<section>
						<ul>
							<li>O is defined as the set of all geo-textual objects in the database.</li>
							<li class="fragment">o &isin; O , where o is the each object.</li>
							<li class="fragment">Each object has two attributes o.&lambda; (location) o.&psi;(textual).</li>
							<li class="fragment">mCK query processed m keywords.</li>
							<li class="fragment">The output will be diameter of a group of objects.</li>
						</ul>
					</section>
					<section>
						<img src="./lib/media/MCK.png" />
					</section>
				</section>
				<section>
					<section>
						<h1>Problems to be addressed</h1>
					</section>
					<section>
						<ul>
							<li>To find the hardness of the above problem. Prove that mCK query is NP hard by reducing it to the existing 3-SAT problem.</li>
							<li class="fragment">Analyzing a greedy approach to solving the problem.</li>
							<li class="fragment">And then extending this greedy approach to three approximation algorithms which yield better performance.</li>
							<li class="fragment">Then developing a exact algorithm.</li>
						</ul>
					</section>
					<section>
						<ul>
							<li>mCK query finds the circle with the smallest diameter that encloses a group of objects together covering all query keywords.</li>
							<li class="fragment">Circle is called as “smallest keyword enclosing circle” (SKECq) where q is the query.</li>
							<li class="fragment">SKECq is solvable in polynomial time. But it is not efficient (High time complexity).</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h1>Existing Solutions for mCK Queries</h1>
					</section>
					<section>
						<ul>
							<li>bR*-tree based method</li>
							<li>Virtual bR*-tree based method</li>
							<li>Spatial group keyword query</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h1>GKG Algorithm: Greedy Approach</h1>
					</section>
					<section>
						<ul>
							<li>Greedy Keyword Group</li>
							<li class="fragment">Steps:
								<ul>
									<li>Find the most infrequent keyword among the keywords in the query q.</li>
									<li class="fragment">Each object that contains this infrequent keyword, the neighboring objects are searched whether if they contain remaining keywords from the query.</li>
									<li class="fragment">So the objects with infrequent keyword and the neighboring objects with query keywords form a group.</li>
									<li class="fragment">Once all the objects with infrequent keywords are processed, which will give us number of group.</li>
									<li class="fragment">Then the group with smallest diameter is chosen as the result.</li>
									<li class="fragment">Approximation ratio: 2</li>
								</ul>
							</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h1>SKEC</h1>
					</section>
					<section>
						<ul>
							<li>MCC (Minimum Covering Circle): is the circle that encloses them with the smallest diameter.</li>
							<li class="fragment">Keywords Enclosing Circle is a circle that encloses a group of objects covering all the given keywords. One with the smallest diameter the Smallest Keywords Enclosing Circle.</li>
							<li class="fragment">Object-across Keywords Enclosing Circle (KECo): Objects, which are on the circumference of the circle.</li>
							<li class="fragment">Obtain group using GKG algorithm, where MCC will serve as a upper bound for the diameter.</li>
							<li class="fragment">In this group, if it covers all query keywords, we return the object.</li>
							<li class="fragment">Else, we find smallest KECo and then update the smallest diameter with this object.</li>
							<li class="fragment">Approximation ratio: 2/√3</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h1>SKECa</h1>
					</section>
					<section>
						<ul>
							<li>Given a set of keywords &psi; and an object o, if there exists no o-across keywords enclosing circle (KECo) with diameter, D then no KECo exists whose diameter is smaller than D.</li>
							<li class="fragment">We use binary search to find the diameter and position of SKECo.</li>
							<li class="fragment">Here the Upper bound of the algorithm will be the first diameter found and the lower bound will be already be calculated from the greedy algorithm (GKG).</li>
							<li class="fragment">Approximation Ratio: 2/√3 + e, where e is an arbitrary small value.</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h1>SKECa+</h1>
					</section>
					<section>
						<ul>
							<li>In the above approach, if, on the earlier processed objects, the circles found are large, the upper bound is loose for sub-sequent search and the checking cost is high.</li>
							<li class="fragment">To overcome this problem, we do binary search on all the objects with infrequent keyword.</li>
							<li class="fragment">In this algorithm, we first do the binary search and then find object across keywords enclosing circle.</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h1>EXACT</h1>
					</section>
					<section>
						<ul>
							<li>In the EXACT Algorithm, we use the best feature of the above algorithms </li>
							<li class="fragment">First, we find the object group using the SKECa+ algorithm.</li>
							<li class="fragment">The diameters that use the Minimum Covering circle in SKEC algorithm, are used for the above groups.</li>
							<li class="fragment">We check which of these groups have least diameter.</li>
							<li class="fragment">Then return that as a best suitable group.</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h1>Datasets</h1>
					</section>
					<section>
						<ul>
							<li>Typical Dataset consists of two files: Doc file and Loc file.</li>
							<li class="fragment">Doc file: Consists of the ID and the textual description keywords.</li>
							<li class="fragment">Loc file: ID, latitude and longitude.</li>
							<li class="fragment">Query file: where you have sample query, which will be processed.</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h1>Experimentation</h1>
					</section>
					<section>
						<ul>
							<li>NY -485,059 Objects</li>
							<li class="fragment">116,546 Unique keywords</li>
							<li class="fragment">1,143,013 Total keywords</li>
							<li class="fragment">Query file: where you hThe numbers of keywords in the query are varied so evaluate the performance.</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h1>Applications: of mCK query</h1>
					</section>
					<section>
						<ul>
							<li>It can be used in detecting geographic locations of web resources such as documents or photos. Given a document or a photo with some tags, we can issue a mCK query using these tags.</li>
							<li class="fragment">mCK query has potential applications for location-based service providers.</li>
							<li class="fragment">Customers of Apple products can submit ‘Apple store subway’ to locate a retailer store to purchase products nearby.</li>
							<li class="fragment">Tourist can find a location where there are places, attractions that she can walk from.</li>
						</ul>
					</section>
				</section>
				<section>
					<h1>Thank You</h1>
				</section>
			</div>
    </div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>
		<script>
			var items = [
				{
					selector:"#chart1",
					type:"radar",
					data: {
						labels: ["Complete Tasks/Goals", "No interruptions/distractions", "No meetings", "Clear goals/requirements", "Planning workday"],
    				datasets: [
        			{
								label: "Reasons",
              	fillColor: "rgba(151,187,205,0.8)",
              	strokeColor: "rgba(151,187,205,1)",
              	pointColor: "rgba(151,187,205,1)",
              	pointStrokeColor: "#fff",
              	pointHighlightFill: "#fff",
              	pointHighlightStroke: "rgba(151,187,205,1)",
              	data: [192,182,79,72,62]
        			}
						]
					},
					options:{
						responsive:true,
						scaleOverride: true,
						scaleSteps: 4,
						scaleStepWidth: 50,
						scaleStartValue: 0,
						pointLabelFontSize : 14,
						legendTemplate : "<ul style=\"list-style:none; position:absolute; left:0;\" class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><div style=\"background-color:<%=datasets[i].strokeColor%>; width:10px; height:10px; display:inline-block; margin-top:8px; margin-right:5px;\"></div><span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></span></li><%}%></ul>",
					}
				},
				{
					selector:"#chart2",
					type:"radar",
					data: {
						labels: ["Coding", "Meetings", "Planning", "Documentation/reports"],
    				datasets: [
							{
              	label: "Productive",
              	fillColor: "rgba(205,151,187,0.5)",
              	strokeColor: "rgba(205,151,187,1)",
              	pointColor: "rgba(205,151,187,1)",
              	pointStrokeColor: "#fff",
              	pointHighlightFill: "#fff",
              	pointHighlightStroke: "rgba(205,151,187,1)",
              	data: [236, 57, 25, 22]
            	},
            	{
              	label: "Unproductive",
              	fillColor: "rgba(151,187,205,0.5)",
              	strokeColor: "rgba(151,187,205,1)",
              	pointColor: "rgba(151,187,205,1)",
              	pointStrokeColor: "#fff",
              	pointHighlightFill: "#fff",
              	pointHighlightStroke: "rgba(151,187,205,1)",
              	data: [47, 191, 58, 25]
            	}
						]
					},
					options:{
						responsive:true,
						scaleOverride: true,
						scaleSteps: 5,
						scaleStepWidth: 50,
						scaleStartValue: 0,
						legendTemplate : "<ul style=\"list-style:none; position:absolute; left:0;\" class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><div style=\"background-color:<%=datasets[i].strokeColor%>; width:10px; height:10px; display:inline-block; margin-top:8px; margin-right:5px;\"></div><span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></span></li><%}%></ul>",
						pointLabelFontSize : 14
					}
				},
				{
					selector:"#chart3",
					type:"radar",
					data: {
						labels: ["Number of Tasks", "Tasks switch rate per hour", "Time spent per task"],
    				datasets: [
							{
              	label: "Max",
              	fillColor: "rgba(205,151,187,0.5)",
              	strokeColor: "rgba(205,151,187,1)",
              	pointColor: "rgba(205,151,187,1)",
              	pointStrokeColor: "#fff",
              	pointHighlightFill: "#fff",
              	pointHighlightStroke: "rgba(205,151,187,1)",
              	data: [7.1, 21.8, 9.5]
            	},
            	{
              	label: "Mean",
              	fillColor: "rgba(151,187,205,0.5)",
              	strokeColor: "rgba(151,187,205,1)",
              	pointColor: "rgba(151,187,205,1)",
              	pointStrokeColor: "#fff",
              	pointHighlightFill: "#fff",
              	pointHighlightStroke: "rgba(151,187,205,1)",
              	data: [4.8, 13.3, 6.2]
            	},
							{
              	label: "Min",
              	fillColor: "rgba(187,205,151,0.5)",
              	strokeColor: "rgba(187,205,151,1)",
              	pointColor: "rgba(187,205,151,1)",
              	pointStrokeColor: "#fff",
              	pointHighlightFill: "#fff",
              	pointHighlightStroke: "rgba(187,205,151,1)",
              	data: [2.5, 4.8, 1.9]
            	}
						]
					},
					options:{
						responsive:true,
						legendTemplate : "<ul style=\"list-style:none; position:absolute; left:0;\" class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><div style=\"background-color:<%=datasets[i].strokeColor%>; width:10px; height:10px; display:inline-block; margin-top:8px; margin-right:5px;\"></div><span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></span></li><%}%></ul>",
						pointLabelFontSize : 14,
						scaleOverride: true,
						scaleSteps: 3,
						scaleStepWidth: 10,
						scaleStartValue: 0,
					}
				},{
					selector:"#chart4",
					type: "doughnut",
					data : [
    				{
        			value: 56.7,
        			color:"#F7464A",
        			highlight: "#FF5A5E",
        			label: "Developing(%)"
    				},
						{
				        value: 4.9,
				        color: "#46BFBD",
				        highlight: "#5AD3D1",
				        label: "Emailing(%)"
				    },
						{
				        value: 7.9,
				        color: "#FDB45C",
				        highlight: "#FFC870",
				        label: "Planning(%)"
				    },
						{
				        value: 2.7,
				        color: "#949FB1",
				        highlight: "#A8B3C5",
				        label: "Documenting(%)"
				    },
						{
				        value: 18,
				        color: "#4D5360",
				        highlight: "#616774",
				        label: "Meeting(%)"
				    },
						{
							value: 4.4,
							color: "#42AFFA",
							highlight: "#5AD3D1",
							label: "Browsing(%)"
						}
					],
					options : {
						responsive:true,
						legendTemplate : "<ul style=\"list-style:none; position:absolute; left:0;\" class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><div style=\"background-color:<%=segments[i].fillColor%>; width:10px; height:10px; display:inline-block; margin-top:8px; margin-right:5px;\"></div><span><%if(segments[i].label){%><%=segments[i].label%><%}%></span></li><%}%></ul>"
					}
				}
			];
			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
				slideNumber : true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				chart : {
					items : items
				},
				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/chartjs/Chart.min.js'},
					{ src: 'plugin/chartjs/charted.js'}
				]
			});

			Reveal.addEventListener("slidechanged",function(event){
				setTimeout(function(){
					switch(event.indexh){
						case 3:
							switch(event.indexv){
								case 1:
									var legend1 = RevealChart.chart1.item.chart.generateLegend();
									document.querySelector("#chart1-legend small").innerHTML = legend1;
									break;
								case 2:
									var legend2 = RevealChart.chart2.item.chart.generateLegend();
									document.querySelector("#chart2-legend small").innerHTML = legend2;
									break;
							}
							break;
						case 4:
							switch(event.indexv){
								case 1:
									var legend3 = RevealChart.chart3.item.chart.generateLegend();
									document.querySelector("#chart3-legend small").innerHTML = legend3;
									break;
								case 2:
									var legend4 = RevealChart.chart4.item.chart.generateLegend();
									document.querySelector("#chart4-legend small").innerHTML = legend4;
									RevealChart.chart4.item.canvas.style.margin = "-10px auto -10px auto";
									break;
							}
							break;
					}
				},500);
			},false);

			</script>
	</body>
</html>
